@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.combobox {
  display: none;
}

.combo-column1 {
  float: left;
  width: 20%;
}
.combo-column2 {
  float: right;
  width: 80%;
}

.combo-row:after {
  content: "";
  display: table;
  clear: both;
}
p{
  text-align: left;
  font-size: 12px;
  padding-left: 10px;
}
p.sombreado{
  font-size: 10px;
  color: gray;
}

.combo-row.pointer {
  cursor: pointer;
}
.combo-row:hover {
  background-color: #ffffff;
}

label{
  text-align: left;
  float: left;
  font-size: 12px;

}
small{
  color: gray;
}

img.loading{
  width: 20%;
  margin-inline: auto
}